<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                Copyright <script>document.write(new Date().getFullYear())</script> - Raspberry Shake S.A.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block"> 

                    <a href="https://raspberryshake.org/"><i class="m-1"></i>Website</a> | 
                    <a href="https://shop.raspberryshake.org/"><i class="m-1"></i>Shop</a> |  
                
                 <a href="https://www.facebook.com/raspishake"><i class="mdi mdi-facebook  m-1" style="font-size:20px; vertical-align: middle;"></i> </a> 
                 <a href="https://www.instagram.com/raspishake/"><i class="mdi mdi-instagram  m-1" style="font-size:20px; vertical-align: middle;"></i> </a> 
                 <a href="https://twitter.com/raspishake"><i class="mdi mdi-twitter  m-1" style="font-size:20px ; vertical-align: middle;"></i> </a> 
                 <a href="https://www.youtube.com/c/RaspberryShake"><i class="mdi mdi-youtube  m-1" style="font-size:20px ; vertical-align: middle;"></i> </a> 
                
            </div>


     
        </div>
    </div>
</footer>